body.webchat-blur {
  $blur-pixel: 6px;

  /* general list item */
  div[role="listitem"] {
    filter: blur($blur-pixel);
  }
  div[role="listitem"]:hover {
    filter: none;
  }

  /* exception for general list item */
  div[role="application"] {
    div[role="listitem"] {
      filter: none;
    }
  }

  /* profile photo */
  div[data-tab="2"][aria-label="profile photo"] {
    filter: blur($blur-pixel);
  }
  div[data-tab="2"][aria-label="profile photo"]:hover {
    filter: none;
  }

  /* group & contact media, docs, links item */
  div[data-list-scroll-container="true"] > span > div > div > div > div {
    filter: blur($blur-pixel);
  }
  div[data-list-scroll-container="true"] > span > div > div > div > div:hover {
    filter: none;
  }

  /* main chat area */
  div#main {
    header > div[role="button"] {
      filter: blur($blur-pixel);
    }
    header:hover > div[role="button"] {
      filter: none;
    }

    div.focusable-list-item > div {
      filter: blur($blur-pixel);
    }
    div.focusable-list-item > div:hover {
      filter: none;
    }
  }

  /* contact info & group info */
  div.copyable-area > div >,
  div[role="complementary"][aria-label="Group Info"] > div > div > {
    section > {
      div:nth-child(1),
      div:nth-child(2) {
        filter: blur($blur-pixel);
      }
      div:nth-child(1):hover,
      div:nth-child(2):hover {
        filter: none;
      }
    }
  }
}
